* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 2px solid red; */
}

body {
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  line-height: 1.5;
  background-image: linear-gradient(
      rgba(128, 128, 128, 0.5),
      rgba(128, 128, 128, 0.5)
    ),
    url("./surveyForm-bcg.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
main {
  max-width: 600px;
  margin: 3rem auto;
  /* border: 2px solid red; */
  background: 
  /* linear-gradient(
    rgba(238, 164, 127, 0.85),
    rgba(238, 164, 127, 0.85)
  ); */ linear-gradient(
    rgba(0, 83, 156, 0.8),
    rgba(0, 83, 156, 0.8)
  );
  border-radius: 5px;
  padding: 2rem;
  line-height: 2;
}

.title-section {
  text-align: center;
  /* margin: 5rem auto; */
  margin-bottom: 3rem;
}

#survey-form #name-label,
#email-label,
#age-label {
  letter-spacing: 2px;
}
#survey-form input #name,
#email,
#age,
#name,
#submit,
select,
textarea {
  width: calc(600px - 4rem);
  height: 2.5 rem;
  border: none;
  border-radius: 5px;
  padding: 10px;
  text-transform: capitalize;
}
select {
  padding: 5px;
  height: 2.5rem;
  font-size: 0.9rem;
}
textarea {
  height: 90px;
  padding: 10px;
}
